<div class="container-fluid">
  <p class="h3 p-3">{{ responsableDetail.nombre }}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt class="bold">Evento</dt>
        <dd class="caption">Nothing yet... (Back)</dd>
        <hr />
        <dt>Teléfono</dt>
        <dd>{{responsableDetail.telefono}}</dd><hr/>
        <dt>Correo</dt>
        <dd>{{responsableDetail.correo}}</dd><hr/>
        <dt> Cargo</dt>
        <dd>{{responsableDetail.cargo}}</dd><hr/>
      </dl>
      </div>
    </div>
</div>
