<div class="container-fluid">
  <p class="h3 p-3">{{ actividadDetail.nombre }}</p>
  <div class="row">
    <div class="col">
      <dl>
        <dt class="bold">Description</dt>
        <dd>{{ actividadDetail.descripcion}}</dd>
        <dt class="bold">dia</dt>
        <dd>{{ actividadDetail.dia}}</dd>
        <dt class="bold">hora</dt>
        <dd>{{ actividadDetail.hora}}</dd>
        <dt class="bold">duracion</dt>
        <dd>{{ actividadDetail.duracion}}</dd>
        <dt class="bold">Description</dt>
        <dd>{{ actividadDetail.descripcion}}</dd>
        <dt class="bold">Evento</dt>
        <dd>{{ actividadDetail.evento.nombre}}</dd>
        <hr />
      </dl>
    </div>
  </div>
 </div>
