

<div class="container-fluid">
  <div class="row">

    <div class="col-2" id = "panelFiltro">
      <br>
      <p>
        Filtrar por Categoria:
      </p>
      <input type="text" class="form-control" id="busquedaCat" placeholder="Filtrar por Categoria" #filter /> <br>
      <button type="button" id="boton-filtro" class="btn btn-succes" (click)="filtrarPorCategoria(filter.value)">Aplicar</button>
      <p>
        <br>
        Filtrar por fecha:
      </p>
      <input type="date" id="fecha de Inicio" name="date_name" #fechaInicial/>
      <input type="date" id="fecha de Fin" name="date_name" #fechaFinal/> <br><br>
      <button type="button" id="boton-filtro" class="btn btn-succes" (click)="filtrarPorFecha(fechaInicial.value, fechaFinal.value)">Aplicar</button>
    </div>
    <div class="col mb-2" *ngFor="let evento of eventos">
          <div class="card p-2" style="width: 15rem; height: 33rem">
              <img
                class="card-img-top"
                src="{{evento.imagen}}"
                alt="{{ evento.nombre}}"
                (click)="onSelected(evento)"
              />
              <div class="card-body">
                <h5 class="card-title">{{ evento.nombre }}</h5>
                  <p class="card-text">[{{ evento.escenario.nombre}}]</p>
              </div>
           </div>
      </div>
      <div class = "col" *ngIf="selected">
        <app-evento-detail [eventoDetail]="selectedEvento"></app-evento-detail>
      </div>
   </div>
</div>


